<div class="container">
	<br>
	<br>
	<h1>Usuarios Registrados a la API</h1>
	<br>
	<br>
	<%= link_to "Crear Usuario", new_user_path(), class: "btn btn-success" %>
	<br>
	<br>
	<table class="table table-hover"> 
	<tr>
		<th class="text-center">ID</th>
		<th class="text-center">Nombre</th>
		<th class="text-center">Email</th>
		<th class="text-center">Token</th>
		<th class="text-center">Fecha de Creacion</th>
		<th class="text-center">Perfil</th>
		<th class="text-center">Acciones</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td class="text-center"><%= user.id %></td>
			<td class="text-center"><%= user.name %></td>
			<td class="text-center"><%= user.email %></td>
			<td class="text-center"><%= user.token %></td>
			<td class="text-center"><%= user.created_at %></td>
			<td class="text-center"><%= (user.profile_id == 1) ? "Administrador" : "Usuario" %></td>
			<td class="text-center">
				<%= link_to "Editar",edit_user_path(user), class: "btn btn-primary" %>
				<%= link_to "Eliminar",user_path(user), class: "btn btn-danger" %>
			</td>
		</tr>
	<% end %>
</table>
</div>