<table>
	<tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Email</th>
		<th>Token</th>
		<th>Perfil</th>
	</tr>
	<tr>
		<% @users.each do |user| %>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.token %></td>
			<td><%= user.profile_id %></td>
		<% end %>
	</tr>
</table>